{
  "manifest": {
    "publishingInformation": {
      "locales": {
        "en-US": {
          "summary": "",
          "examplePhrases": [],
          "name": "Baby Buddy",
          "description": ""
        }
      },
      "isAvailableWorldwide": true,
      "testingInstructions": "",
      "category": "",
      "distributionCountries": []
    },
    "apis": {
      "custom": {}
    },
    "manifestVersion": "1.0"
  }
}
